In [2]:
#importing important libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
try:
    host = 'localhost'
    user = 'root'
    password = '123Amajeec016!'
    database = 'sales'
    
    # Create an SQLAlchemy engine
    engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

    # Load each table into separate dataframes
    customers_df = pd.read_sql("SELECT * FROM customers", engine)
    date_df = pd.read_sql("SELECT * FROM date", engine)
    markets_df = pd.read_sql("SELECT * FROM markets", engine)
    products_df = pd.read_sql("SELECT * FROM products", engine)
    transactions_df = pd.read_sql("SELECT * FROM transactions", engine)
except Exception as err:
    print("Error:", err)

In [4]:
#Creating dictionary of all dataframes
dfs = {
    'customers': customers_df,
    'date': date_df,
    'markets': markets_df,
    'products': products_df,
    'transactions': transactions_df
}

# Iterate over the dictionary and check for null values in each dataframe
for name, df in dfs.items():
    print(f"Null values in DataFrame '{name}':")
    null_columns = df.isnull().sum()
    print(null_columns)
    print("\n")

Null values in DataFrame 'customers':
customer_code    0
custmer_name     0
customer_type    0
dtype: int64


Null values in DataFrame 'date':
date           0
cy_date        0
year           0
month_name     0
date_yy_mmm    0
dtype: int64


Null values in DataFrame 'markets':
markets_code    0
markets_name    0
zone            0
dtype: int64


Null values in DataFrame 'products':
product_code    0
product_type    0
dtype: int64


Null values in DataFrame 'transactions':
product_code                0
customer_code               0
market_code                 0
order_date                  0
sales_qty                   0
sales_amount                0
currency                    0
profit_margin_percentage    0
profit_margin               0
cost_price                  0
dtype: int64

In [6]:
# Iterate over the dictionary and check for duplicate values in each dataframe
for name, df in dfs.items():
    print(f"Duplicate values in DataFrame '{name}':")
    duplicates = df[df.duplicated()]
    if not duplicates.empty:
        print(duplicates)
    else:
        print("No duplicates found.")
    print("\n")

Duplicate values in DataFrame 'customers':
No duplicates found.


Duplicate values in DataFrame 'date':
No duplicates found.


Duplicate values in DataFrame 'markets':
No duplicates found.


Duplicate values in DataFrame 'products':
No duplicates found.


Duplicate values in DataFrame 'transactions':
No duplicates found.

In [12]:
#checking the column information about the dataframe
for name, df in dfs.items():
    print(f"Information of DataFrame '{name}':")
    df_info = df.info()
    print(df_info)
    print("\n")

Information of DataFrame 'customers':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_code  38 non-null     object
 1   custmer_name   38 non-null     object
 2   customer_type  38 non-null     object
dtypes: object(3)
memory usage: 1.0+ KB
None


Information of DataFrame 'date':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1126 non-null   object
 1   cy_date      1126 non-null   object
 2   year         1126 non-null   int64
 3   month_name   1126 non-null   object
 4   date_yy_mmm  1126 non-null   object
dtypes: int64(1), object(4)
memory usage: 44.1+ KB
None


Information of DataFrame 'markets':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   markets_code  17 non-null     object
 1   markets_name  17 non-null     object
 2   zone          17 non-null     object
dtypes: object(3)
memory usage: 540.0+ bytes
None


Information of DataFrame 'products':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_code  279 non-null    object
 1   product_type  279 non-null    object
dtypes: object(2)
memory usage: 4.5+ KB
None


Information of DataFrame 'transactions':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148395 entries, 0 to 148394
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   product_code              148395 non-null  object
 1   customer_code             148395 non-null  object
 2   market_code               148395 non-null  object
 3   order_date                148395 non-null  object
 4   sales_qty                 148395 non-null  int64
 5   sales_amount              148395 non-null  float64
 6   currency                  148395 non-null  object
 7   profit_margin_percentage  148395 non-null  float64
 8   profit_margin             148395 non-null  float64
 9   cost_price                148395 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 11.3+ MB
None

In [14]:
#checking for unique values and calculate the sum of unique values in the column in the dataframe
for name, df in dfs.items():
    print(f"Sum of unique values in DataFrame '{name}':")
    for column in df.columns:
        sum_unique_values = df[column].nunique()
        print(f"Column '{column}': {sum_unique_values}")
    print("\n")

Sum of unique values in DataFrame 'customers':
Column 'customer_code': 38
Column 'custmer_name': 38
Column 'customer_type': 2


Sum of unique values in DataFrame 'date':
Column 'date': 1126
Column 'cy_date': 37
Column 'year': 4
Column 'month_name': 12
Column 'date_yy_mmm': 37


Sum of unique values in DataFrame 'markets':
Column 'markets_code': 17
Column 'markets_name': 16
Column 'zone': 4


Sum of unique values in DataFrame 'products':
Column 'product_code': 279
Column 'product_type': 2


Sum of unique values in DataFrame 'transactions':
Column 'product_code': 338
Column 'customer_code': 38
Column 'market_code': 15
Column 'order_date': 804
Column 'sales_qty': 564
Column 'sales_amount': 7981
Column 'currency': 2
Column 'profit_margin_percentage': 76
Column 'profit_margin': 51336
Column 'cost_price': 57024

In [10]:
print(transactions_df)

       product_code customer_code market_code  order_date  sales_qty  \
0           Prod279        Cus020     Mark011  2017-10-11          1
1           Prod279        Cus020     Mark011  2017-10-18          1
2           Prod279        Cus020     Mark011  2017-10-19          1
3           Prod279        Cus020     Mark011  2017-11-08          1
4           Prod279        Cus020     Mark011  2018-03-09          1
...             ...           ...         ...         ...        ...
148390      Prod124        Cus006     Mark004  2020-06-11         40
148391      Prod252        Cus006     Mark004  2020-06-12         40
148392      Prod117        Cus006     Mark004  2020-06-17         40
148393      Prod329        Cus006     Mark004  2020-06-17         40
148394      Prod252        Cus006     Mark004  2020-06-19         40

        sales_amount currency  profit_margin_percentage  profit_margin  \
0              102.0      INR                      0.39          39.78
1              102.0      INR                     -0.12         -12.24
2              102.0      INR                      0.29          29.58
3              102.0      INR                      0.36          36.72
4              102.0      INR                     -0.35         -35.70
...              ...      ...                       ...            ...
148390       14815.0      INR                      0.07        1037.05
148391        6676.0      INR                      0.00           0.00
148392       13384.0      INR                     -0.35       -4684.40
148393      157435.0      INR                      0.04        6297.40
148394        6676.0      INR                      0.37        2470.12

        cost_price
0            62.22
1           114.24
2            72.42
3            65.28
4           137.70
...            ...
148390    13777.95
148391     6676.00
148392    18068.40
148393   151137.60
148394     4205.88

[148395 rows x 10 columns]